a{
    text-decoration: none;
}
table{
    width:800px;margin:auto;
    border-collapse: collapse;
    border:1px solid #000;
}
th,td{
    width:198px;height:30px;
    border:1px solid #000;
    font-size:25px;line-height:30px;
    text-align: center;
}
.add{
    display: block;
    width:40px;height:24px;border-radius:5px;
    background-color:yellow;cursor:pointer;
    text-align: center;line-height: 24px;
    font-size:25px;color:#000;
    margin-top:5px;margin-left:275px;
}
.add:hover{
    color:red;
}
.del{
    background-color:red;
    cursor:pointer;
}
.del:hover{
    color:#fff;
}
input {
    width: 180px;
    height: 20px;
    text-indent: 0.5em;
}